<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="TaskTrackerConnectionString" connectionString="Data Source=Sriram-PC;Initial Catalog=PTT_Database;User ID=Sriram-PC\Sriram;Password=Chennai44!; Integrated Security=SSPI;"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <sessionState timeout ="60"></sessionState>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="ConnectionString" value="data source= C:\Users\Ignateus\MS Course\Software Engineering Project\Database; initial catalog=MyDatabase#1; user id=Ignateus; password = 12345; Connection Timeout=180; Max Pool Size = 500;"/>
  </appSettings>

</configuration>
